@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

._popupContainer_11eqz_1170 {
  display: none;
  position: relative;
  z-index: 1;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
