/********************************************************************************************************
* Break Points
********************************************************************************************************/

/* all mobile is less than this */
$break-point-xs: 420px;

/* tablet portrait orientation is less than this */
$break-point-s: 800px;

/* tablet landscape */
$break-point-m: 1280px;

/* desktop 16:10 aspect ratio*/
$break-point-l: 1440px;

/* desktop 16:9 aspect ratio */
$break-point-xl: 1920px;