@use "@/app/assets/atoms/colors" as c;
@use "@/app/assets/molecules/text" as text;


.textArea {
  background-color: c.$charcoal-450;
  width: 100%;
  @include text.body-2;
  color: c.$white;
  resize: none;
  height: fit-content;
  border-radius: 8px;
  display: block;
}
