@use "@/app/assets/atoms/colors" as c;
@use "@/app/assets/molecules/text" as text;
@use "@/app/assets/molecules/breakpoint" as breakpoint;

.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;

  @include breakpoint.display-to("s") {
    flex-direction: column;
  }

  .link {
    height: 25%;
  }
  .logo {
    color: c.$white;
    height: 100%;
    width: 100%;
  }
}
